# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_ID=""
NEXT_PUBLIC_SUPABASE_URL=""
# Resend
RESEND_API_KEY=""
RESEND_AUDIENCE_ID=""
# PandaScore
PANDASCORE_TOKEN=""
# Cronitor
NEXT_PUBLIC_CRONITOR_API_KEY=""
#  Twitter
TWITTER_API_KEY=""
TWITTER_API_SECRET=""
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""
