@font-face {
  font-family: FiraSans;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/fira-sans.woff2') format('woff2');
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/merriweather.woff2') format('woff2');
}
