@font-face {
  font-family: FiraSans;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/fira-sans.woff2') format('woff2');
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/merriweather.woff2') format('woff2');
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  margin-right: -20px;
  margin-top: 15px;
  transform: rotate(45deg);
}
