@font-face {
  font-family: CabinBold;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/cabin-bold.woff2') format('woff2');
}

@font-face {
  font-family: CabinRegular;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/cabin-regular.woff2') format('woff2');
}

.custom-bg {
  background: linear-gradient(
    90deg,
    rgb(1.176% 67.451% 74.902%) 0%,
    rgb(7.353% 69.485% 76.471%) 6.25%,
    rgb(13.529% 71.52% 78.039%) 12.5%,
    rgb(19.706% 73.554% 79.608%) 18.75%,
    rgb(25.882% 75.588% 81.176%) 25%,
    rgb(32.059% 77.623% 82.745%) 31.25%,
    rgb(38.235% 79.657% 84.314%) 37.5%,
    rgb(44.412% 81.691% 85.882%) 43.75%,
    rgb(50.588% 83.725% 87.451%) 50%,
    rgb(56.765% 85.76% 89.02%) 56.25%,
    rgb(62.941% 87.794% 90.588%) 62.5%,
    rgb(69.118% 89.828% 92.157%) 68.75%,
    rgb(75.294% 91.863% 93.725%) 75%,
    rgb(81.471% 93.897% 95.294%) 81.25%,
    rgb(87.647% 95.931% 96.863%) 87.5%,
    rgb(93.824% 97.966% 98.431%) 93.75%,
    rgb(100% 100% 100%) 100%
  );
}
