@font-face {
  font-family: CabinBold;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/cabin-bold.woff2') format('woff2');
}

@font-face {
  font-family: CabinRegular;
  font-style: normal;
  font-display: optional;
  src: url('/fonts/cabin-regular.woff2') format('woff2');
}
