name: End-to-end tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v4.1.0
        with:
          config-file: apps/web/cypress.config.ts
          start: yarn start:e2e
          spec: apps/web/cypress/e2e/**/*.cy.js
